[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
branca = "==0.3.1"
folium = "==0.12.1"
googlemaps = "==4.4.7"
streamlit = "==0.84.1"
pydeck = "*"
pipreqs = "*"
tqdm = "*"
python-dotenv = "*"

[requires]
python_version = "3.8"
